In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("tmp.csv", header=0, parse_dates=[4], index_col=4, na_values=[-1], sep=",")
df = df.drop(["quantity", "page"], axis=1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 469 entries, 2022-05-24 to 2022-10-26
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   task_id          469 non-null    object
 1   title            469 non-null    object
 2   icon             469 non-null    object
 3   entry_type       469 non-null    object
 4   entry_timestamp  469 non-null    object
dtypes: object(5)
memory usage: 22.0+ KB

,task_id,title,icon,entry_type,entry_timestamp
entry_date,,,,,
2022-05-24,2DB86AC7-CA30-482C-92C8-00BFE1754344,"Tidy Up, 20:00",ic_broom,timer_manually,2022-05-24T16:57:15.232Z
2022-05-24,2DB86AC7-CA30-482C-92C8-00BFE1754344,"Tidy Up, 20:00",ic_broom,completed_manually,2022-05-24T16:57:19.721Z
2022-05-25,2DB86AC7-CA30-482C-92C8-00BFE1754344,"Tidy Up, 20:00",ic_broom,completed_manually,2022-05-25T21:22:39.320Z
2022-05-26,2DB86AC7-CA30-482C-92C8-00BFE1754344,"Tidy Up, 20:00",ic_broom,completed_manually,2022-05-26T16:51:19.395Z
2022-05-27,2DB86AC7-CA30-482C-92C8-00BFE1754344,"Tidy Up, 20:00",ic_broom,completed_manually,2022-05-27T17:07:59.801Z

In [14]:
def get_tasks(date):
    print(df.loc[date].drop_duplicates(subset='task_id', keep="last"))#.groupby(["machine-type", "site-name"])["machine-status"].value_counts().unstack(0).plot(kind="bar")

plot_datetime("2022-05-26")

                                         task_id              title  \
entry_date
2022-05-26  2DB86AC7-CA30-482C-92C8-00BFE1754344     Tidy Up, 20:00
2022-05-26  ADBFEBE0-861A-403B-B917-4B12B7972F40  Any Workout, 50kJ
2022-05-26  80A98857-1E5E-438C-BF39-9D497F3D97A2      Code Anything

                 icon          entry_type           entry_timestamp
entry_date
2022-05-26   ic_broom  completed_manually  2022-05-26T16:51:19.395Z
2022-05-26  ic_biceps     missed_manually  2022-05-26T16:51:29.171Z
2022-05-26    ic_code  completed_manually  2022-05-26T16:51:21.971Z